# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
olho_de_deus/.venv/

# Node/JavaScript
node_modules/
dist/
.DS_Store

# Tauri
src-tauri/target/
src-tauri/binaries/

# Local binaries/downloads (CORRIGIDO: sem barra para bater com arquivos)
Miniconda3-latest-Linux-x86_64.sh
cv2
vidgear
yt_dlp
*.jpg
*.png
!uploaded_media_*.png

# Outros
.pdm-python
.python-version
